.card-stack {
	display: flex;
	justify-content: space-between;

	.card {
		flex: 1 1 33.33%;
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
	}

	@media only screen and (max-width: 767px) {
		flex-wrap: wrap;
		.card {
			flex: 0 0 100%;
			margin-bottom: 15px;
			margin-right: 0;
		}
	}
}
