@import './_settings.scss';
@import './_helpers.scss';

body {
	background: #fafafa;
	@media only screen and (max-width: 767px) {
		padding-top: 80px;
	}
}

@mixin flex($justify-content: null, $align-items: null ) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
}

// 3 columns
.row-3-across {
	@include flex(space-between);

	> div {
		flex: 1 1 33.33%;
		margin-right: 50px;

		> * {
			height: 100%;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	@media only screen and (min-width: 767px) and (max-width: 1024px) {
		& {
			flex-wrap: wrap;
		}

		> div {
			flex: 1 0 calc(50% - 25px);
			margin-right: 25px;
			margin-bottom: 30px;
			width: 50%;

			&:nth-child(2) {
				margin-right: 0;
			}
			&:last-child {
				flex-basis: 100%;
			}
		}
	}

	@media only screen and (max-width: 767px) {
		& {
			flex-wrap: wrap;
		}

		> div {
			flex-basis: 100%;
			margin: 0 0 30px;
		}
	}
}

.row-4-across {
	@include flex(center);
	flex-wrap: wrap;

	> div {
		margin: 0 10px 30px 0;
		&:last-child {
			margin-right: 0;
		}

		@media only screen and (max-width: 767px) {
			margin: 0 0 15px;
			flex-basis: 100%;
		}
	}
}

.bucket {
	padding: 15px 25px;
	background: #fff;
	border: 1px solid #eee;
	box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);

	&--alt {
		border-color: $caremedRed;
	}
}

.nav {
	span {
		display: inline-block;
		margin-right: 15px;
	}

	.mobile-toggle {
		color: #fff;
		cursor: pointer;
		transform: scale(1.2);

		@media only screen and (min-width: 767px) {
			display: none;
		}
	}
	a {
		text-decoration: none;
		text-transform: uppercase;
		color: rgba(#fff, 0.7);
		font-weight: 400;
		display: inline-block;
		&:last-child {
			margin-right: 0;
		}
		&:hover,
		&.active {
			color: #fff;
		}
	}

	@media only screen and (max-width: 767px) {
		.mobile-nav {
			background-color: #8e0217;
			left: 0;
			padding: 20px;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 999;
			text-align: center;
			top: 80px;
			transition: all 200ms ease-in-out 50ms, z-index 1ms linear 200ms;
			will-change: visibility;
			// visibility: visible;
			transform: translateY(0);
			opacity: 1;
			&--hidden {
				pointer-events: none;
				// visibility: hidden;
				transform: translateY(-2em);
				transition-delay: 50ms, 1ms, 100ms;
				z-index: -1;
				opacity: 0;
			}
		}

		.mobile-nav a {
			display: block;
			margin-bottom: 25px;
			font-size: 17px;
		}

		.mobile-nav a:last-child {
			margin-bottom: 0;
		}
	}

	@media only screen and (min-width: 767px) {
		.mobile-nav {
			display: none;
		}
	}
}

.site-header {
	background-color: #b3001b;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");

	@media only screen and (max-width: 767px) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 80px;
		z-index: 1001;
	}

	.brand {
		a {
			text-decoration: none;
		}

		img {
			margin: 0;
			width: 55px;
		}
	}

	.inner-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 80px;
	}
}

.site-content {
	margin-top: 60px;
	margin-bottom: 60px;
}

// Footer
.site-footer {
	padding: 2rem 0;
	background: #eee;
}

.site-footer__inner {
	display: flex;
	justify-content: space-between;
}

.copyright {
	flex: 0 0 40%;
}

.site-footer {
	.social {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin-right: 10px;
			opacity: 0.75;
			transition: transform 300ms ease-in-out;
			transform-origin: 50% 50%;
		}

		li:hover {
			opacity: 1;
			transform: rotate(360deg);
		}
		li:last-child {
			margin-right: 0;
		}

		img {
			width: 32px;
			display: block;
		}
	}
}
